
@import url('http://fonts.cdnfonts.com/css/bahnschrift')

.img{
  width: 42%;
  object-fit: contain;
  position: absolute;
  height: 82%;
 margin-left: 10%;
  }


  .test__dataBox{

  }

  .red{
    color: #de4f59;
    position: relative;
    
    padding-top: 15%;
    padding-top: 289px;
    margin-left: 14%;
    font-size: 32px;
   
    font-weight: 500;
  }

  .first{
    position: relative;
    color: white;
    padding-top: 15%;
    padding-top: 289px;
    margin-left: 15%;
    font-size: 32px;
    color: #35be86;
    font-weight: 500;
    font-family: 'Bahnschrift', sans-serif;
  }

  .second{
    position: relative;
    color: white;
    margin-left: 21%;
    margin-top: -67px;
    font-size: 31px;
    font-family: 'Bahnschrift', sans-serif;
  }


  .third{
    position: relative;
    color: white;
    margin-left: 28%;
    margin-top: -67px;
    font-size: 31px;
    font-family: 'Bahnschrift', sans-serif;
  }


  .fourth{
    position: relative;
    margin-left: 271px;
    margin-top: -1%;
    font-size: 467%;
    color: #35be86;
    font-weight: 700;
    font-family: 'Bahnschrift', sans-serif;
  }



  .fifth{
    position: relative;
    color: #fdc623;
    margin-left: 24%;
    margin-top: -84px;
    font-size: 20px;
    font-family: 'Bahnschrift', sans-serif;
  }


  .sixth{
    position: relative;
    color: #fdc623;
    margin-left: 24%;
    margin-top: -23px;
    font-size: 20px;
    font-family: 'Bahnschrift', sans-serif;
  }


  .seventh{
    position: relative;
    color: white;
    margin-left: 371px;
    margin-top: 62px;
    font-size: 38px;
    font-family: 'Bahnschrift', sans-serif;

  }




  .button{
    position: relative;
    color: black;
    margin-left: 60%;
    background-color: orange;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-top: 30%;
  }